// veut dire base.scss
@import 'header';
@import 'modals';


    main {
        width: calc(100vw - 300px);
        padding-top: 130px;
        float: right;
    
        #month_choice {
            div {
                div {
                    img {
                        width: 10px;
                        height: 18px;
                    }
                }
            }
        }
    }

        #section_action {
            
            form {
                .container {
                    .row {
                        div {
                            div {                        
                                div.input-group {
                                    position: relative;                        
                                
                                    label.label_moved_white-bg {
                                        position: absolute;
                                        z-index: 200;
                                        top: -12px;
                                        left: 25px;
                                        background-color: white;
                                        padding: 0 5px;
                                    }
                                    // display label according to screen size 
                                    label.short_text {
                                        display: none;
                                    }
                                    @include smallScreens {
                                        label.short_text { display: block; }
                                        label.full_text { display: none; }
                                    }
                                    
                                    input.form-control {
                                        &::-webkit-inner-spin-button {
                                            display: none;
                                        }
                                    }
                                }
                    
                                .row {
                                    div {
                                        position: relative;
                                            
                                        span.label_moved {
                                            position: absolute;
                                            z-index: 200;
                                            top: -12px;
                                            left: 25px;
                                            padding: 0 5px;
                                        }
                                        input.no_border {
                                            border: none;
                                            background-color: #c2c2c2c2;
                                        }
        
                                        label {
                                            color: blue;
                                        }
                                        select {
                                            border-color: blue;
                                        }
        
                                        .row {
                                            div {
                                                background-color: blue;
                                                color: white;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }